<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")"><a href="#"><i class="fa fa-link"></i> <span>Election Result</span></a></li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "ElectionCenter" ? "active" : "")"><a href="/ElectionCenter/Index"><i class="fa fa-link"></i> <span>Election Center</span></a></li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Supervisor" ? "active" : "")"><a href="/Supervisor/Index"><i class="fa fa-link"></i> <span>Supervisor</span></a></li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Cenus" ? "active" : "")"><a href="/Cenus/Index"><i class="fa fa-link"></i> <span>Cenus</span></a></li>
</ul>