@using Election.Models

@model VoteResult
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Result";
    float percentage = Model.registerdVoter == 0 ? 0 : Model.vote * 100 / (float)Model.registerdVoter;
}

<h2>Election Result in @ViewData["districtName"]</h2>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-success" style="margin-bottom:0px">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-2 result-div" style="margin-left: 5%">
                        <h4>Votes(%):</h4>
                        @percentage
                    </div>
                    <div class="col-xs-2 col-xs-offset-1 result-div">
                        <h4>Registered Voter:</h4>
                        @Html.DisplayFor(modelItem => modelItem.registerdVoter)
                    </div>
                    <div class="col-xs-2 col-xs-offset-1 result-div">
                        <h4>Votes:</h4>
                        @Html.DisplayFor(modelItem => modelItem.vote)
                    </div>
                    <div class="col-xs-2 col-xs-offset-1 result-div">
                        <h4>Not Votes:</h4>
                        @Html.DisplayFor(modelItem => modelItem.not_vote)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
